@charset "utf-8";

.front-page-wrapper {
  width: 100%;
  background: #2fcbb2;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/*
最初の要素
 */

.front-page-head-wrapper {
  height: 100vh;
}

.content-effect {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
}

.moire-title-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.moire-title {
  font-family: 'klee',sans-serif;
  font-size: 100pt;
  color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: none;
}

.moire-sub-title {
  font-family: 'klee',sans-serif;
  font-size: 35pt;
  color: white;
  position: absolute;
  width: 1000px;
  height: 300px;
  top: calc(50% + 50px);
  left: calc(50% - 500px);
  display: none;
}

/*
スクロールしたら出てくる右側の部分
 */
.right-top-column {
  display: none;
  background: #f6f6f6f6;
  width: 0;
  opacity: 0.8;
  transition: 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 140px 5px 0;
  line-height: 50px;
  height: 100vh;
  box-shadow: -10px 0 10px -5px;
}

.right-top-column span {
  font-size: 18pt;
  color: #202223;
}

.mission-button {
  font-size: 20pt;
  font-weight: bold;
  color: #202223;
  margin: 40px auto;
}

.mission-button a {
  text-decoration: none;
  color: #202223;
  padding: 15px 5px;
}

.mission-button a:hover {
  background: #2fcbb2;
  color: #f6f6f6;
}

/*
HPブロック
 */

.HP-block-wrapper {
  background: #f6f6f6;
  box-shadow: 10px 0px 10px 5px;
}

.HP-block-header {
  text-align: center;
}

.HP-block-header span {
  font-size: 50pt;
  letter-spacing: 10px;
}

.HP-content-wrapper {
  padding: 0 40px 30px;
  display: table;
}

.HP-content-column {
  width: calc(100%/3);
  text-align: center;
  padding: 0 5px;
  display: table-cell;
}

.HP-content-column-header {
  font-size: 18pt;
  font-weight: 800;
}

.HP_logo {
  width: 150px;
}

.HP-content-column-content {
  padding: 5px 30px;
}
