@charset "utf-8";

.front-page-wrapper {
  width: 100%;
  background: #2fcbb2;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
最初の要素
 */

.front-page-head-wrapper {
  height: 100vh;
}

.content-effect-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.content-effect {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
}

.moire-title-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.moire-title {
  font-family: 'klee',sans-serif;
  font-size: 100pt;
  color: white;
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: none;
}

.moire-sub-title {
  font-family: 'klee',sans-serif;
  font-size: 26px;
  color: white;
  position: absolute;
  width: 1000px;
  height: 300px;
  top: calc(50% + 50px);
  left: calc(50% - 500px);
  display: none;
}

/*
スクロールしたら出てくる右側の部分
 */
.right-top-column {
  display: none;
  background: #f6f6f6f6;
  width: 0;
  opacity: 0.9;
  transition: 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 140px 5px 0;
  line-height: 50px;
  height: 100vh;
  box-shadow: -10px 0 10px -5px;
}

.right-top-column span {
  font-size: 20px;
  color: #202223;
}

.mission-button {
  font-size: 20px;
  font-weight: bold;
  margin: 40px auto;
}

.mission-button a {
  text-decoration: none;
  color: #2fcbb2;
  padding: 25px 15px;
  border: solid;
  border-radius: 15px;
}

.mission-button a:hover {
  background: #ffffff;
  opacity: 1;
}

/*
ブロックで共通
 */

 .block-wrapper {
   position: relative;
   background: #f6f6f6;
   box-shadow: 3px 0px 5px 2px;
   z-index: 999;
 }

 .block_header {
   background: #373735;
   color: #f6f6f6;
   text-align: center;
 }

 .block_header span {
   font-size: 30px;
   font-weight: bold;
   letter-spacing: 10px;
   display: inline-block;
   margin: 10px 0;
 }

/*
HPブロック
 */
.HP-content-wrapper {
  padding: 40px 40px 30px;
  display: table;
}

.HP-content-column {
  width: calc(100%/3);
  text-align: center;
  padding: 0 5px;
  display: table-cell;
}

.HP-content-column-header {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 14px;
}

.HP_logo {
  width: 150px;
}

.HP-content-column-content {
  padding: 12px 30px;
  font-size: 16px;
}

.HP-content-column-button {
  margin-top: 30px;
}

.HP-content-column-button a {
  text-decoration: none;
  background: #2fcbb2;
  color: #f6f6f6;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #202223;
}

/*
ブロックの間はmoireグリーン
 */

.between_block {
  background: #2fcbb2;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.between_block_effect {
  width: 100%;
  height: 100%;
}

/*
イベントブロック
 */
.event_block_content {
  text-align: center;
  padding: 30px 0;
}

.event_block_content span {
  font-size: 16px;
  line-height: 35px;
}

.event_block_img_wrap {
  height: 300px;
}

.event_block_img {
  width: 50%;
  float: left;
  object-fit: cover;
  object-position: top;
  height: 300px;
}
