@charset "utf-8";

/* topのナビゲーション */

.header-inner-top {
	background: #373735;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
	display: table;
  /* -webkit-transition: all 0.3s;
  transition: all 0.3s; */
}

.header-main-navigation {
  background: none;
  vertical-align: middle;
	padding: 12px 25px;
	display: table-cell;
}

.header-main-navigation-items-wrap {
	margin: 0;
	padding-left: 0;
	width: 100%;
	max-height: 432px;
}

.header-main-navigation-items-wrap span {
  background: #7fcaad;
  height: 5px;
  display: block;
  position: absolute;
  width: 50px;
  left: 0
}

.header-main-navigation-item {
  padding: 5px 17px;
  float: none;
  position: relative;
  display: inline-block;
  width: auto;
}

.header-main-navigation-item a {
  font-size: 13px;
  text-decoration: none;
  color: #aaaaaa;
}

.header-main-navigation-item a:hover {
  color: #7fcaad;
}

.header-menu-toggle {
	display: none;
}

@media screen and (max-width: 890px) {
	.header-main-navigation-item {
		padding: 5px 10px;
	}
}

@media screen and (max-width: 790px) {
	/* このサイズからtoggleボランに変更 */
	.header-menu-toggle {
		display: block;
		height: 60px;
	}

	.header-main-navigation {
		display: none;
	}

	.header-main-navigation-items-wrap {
		display: none;
	}

  /* opened menue */
	.header-main-navigation {
		position: absolute;
		z-index: 999;
		top: 100%;
		left: 0;
		right: 0;
		background: #7FCAAD;
	}

	.header-main-navigation ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: right;
		width: 100%;
		text-align: left;
		max-height: 432px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.header-main-navigation li {
		float: none;
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.header-main-navigation a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		padding: 15px 55px 15px 30px;
		color: #fff;
		font-size: 16px;
		font-size: 1em;
		line-height: 20px;
	}

}

/* search */
