@charset "utf-8";
/* Table of Contents Plus */
#toc_container {
  margin-left: auto;
  margin-right: auto;
}

/* WordPress Related Posts */
.wp_rp_content {
  margin-top: 40px;
}

/*
目次
 */

#ez-toc-container {
  margin: 50px auto;
}
