/*
archive
 */

 .more-link {
 	margin-top: 20px;
 	float: left;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	font-size: 15px;
 	font-size: 1em;
 	font-family: 'Cabin', Helvetica, sans-serif;
 }

 .clearfix:before,
 .clearfix:after{
   display: table;
   content: " ";
 }

 /* パンくず */
 .child-category-item-wrap {
 	text-align: center;
 	overflow: auto;
 	height: 70px;
 	margin-bottom: 50px;
 	position: relative;
 }

 .child-category-item-wrap ul{
 	margin: 0 70px;
 }

 .child-category-item-wrap ul li{
 	list-style: none;
 	width: calc(100% / 6);
 	float: left;
 	padding: 20px 0 5px;
 }

 .child-category-item-wrap ul li a{
 	text-decoration: none;
 	font-size: 17px;
 }

 @media screen and (max-width: 1000px) {
 	.child-category-item-wrap ul {
 		padding: 10px 0;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 40px;
 	}
 }

 @media screen and (max-width: 850px) {
 	.child-category-item-wrap ul{
 		margin: 0 20px;
 	}
 }

 @media screen and (max-width: 512px) {
 	.child-category-item-wrap {
     height: 40px;
 		margin-bottom: 0px;
 	}

 	.child-category-item-wrap ul {
 		display: none;
 	}
 }

 /*
 Content
  */
 .archive-content-wrap {
 	padding: 0 70px 70px;
   box-shadow: 0px 0px 3px 3px;
   position: relative;
   z-index: 2;
 	overflow: hidden;
 }

 .post-content-top {
 	padding-top: 70px;
 }

 @media screen and (max-width: 1230px) {
 	.archive-content-wrap {
 		padding: 0 50px 70px;
 	}

 	.post-content-top {
 		padding-top: 70px;
 	}
 }

 @media screen and (max-width: 1070px) {
 	.archive-content-wrap {
 		padding: 0 30px 70px;
 	}

 	.post-content-top {
 		padding-top: 70px;
 	}
 }

 @media screen and (max-width: 614px) {
 	.archive-content-wrap {
 		padding: 0 5px 50px;
 	}

 	.post-content-top {
 		padding-top: 70px;
 	}
 }

 @media screen and (max-width: 380px) {
 	.archive-content-wrap {
 		padding: 0 0 35px;
 	}

 	.post-content-top {
 		padding-top: 70px;
 	}
 }

 /*
 Content > Item
  */
 .archive-site-main > article.article,
 .blog-post {
 	background: #ffffff;
 	float: left;
 	width: calc((100% - 240px) / 3);
 	height: 490px;
 	margin: 0 40px 50px;
 	box-shadow: 3px 3px 3px 1px;
 	position: relative;
 }

 .blog-post:hover {
 	opacity: 0.5;
 	top: 3px;
 }

 .blog-post a {
 	position: absolute;
 	display: block;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 }

 .entry-header-top {
 	height: 20px;
   background: #2fcdb4
 }

 @media screen and (max-width: 1230px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		margin: 0 20px 50px;
     width: calc((100% - 120px) / 3);
 	}
 }

 @media screen and (max-width: 1070px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		height: 435px;
 	}
 }

 @media screen and (max-width: 1020px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		height: 460px;
 	}
 }

 @media screen and (max-width: 890px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: calc((100% - 80px) / 2);
 		height: 480px;
 	}
 }

 @media screen and (max-width: 564px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: calc((100% - 40px) / 2);
 		margin: 0 10px 50px;
 	}
 }

 @media screen and (max-width: 524px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 400px;
 		height: 350px;
 		margin: 0 auto 30px;
 		float: none;
 	}
 }

 @media screen and (max-width: 430px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 340px;
 		height: 370px;
 	}

 }

 @media screen and (max-width: 380px) {
 	.archive-site-main > article.article,
 	.blog-post {
 		width: 290px;
 		height: 340px;
 	}
 }

 /*
 ## Title
  */

 .archive-item-title {
 	font-family: 'Cabin', Helvetica, sans-serif;
 	font-size: 20px;
 	line-height: 25px;
 	color: #575756;
 	letter-spacing: 2px;
 	font-weight: 600;
 	margin: auto;
 	text-transform: none;
 }

 .archive-item-title a {
 	font-size: 24px;
 	font-size: 1em;
 	color: #575756;
 	margin: 0;
   text-decoration: none;
 }

 .entry-header {
 	padding-bottom: 30px;
 }

 .archive-content-inner-wrap {
 	text-align: center;
 	padding: 20px 20px 0;
 }

 @media screen and (max-width: 950px) {
 	.archive-content-inner-wrap {
 		padding: 20px 10px 0px;
 	}
 }

 @media screen and (max-width: 500px) {
   .entry-header{
     padding-bottom: 10px;
   }
 }

 @media screen and (max-width: 524px) {
 	.archive-content-inner-wrap {
 		padding: 2px 10px 0px;
 	}
 }

 /*
 ## 投稿日
  */

 .entry-header .posted-on {
 	color: #aaaaaa;
 	font-size: 15px;
 	padding-bottom: 10px;
 	display: block;
 }

 /*
 Tag
  */
 .archive-item-tag {
 	text-align: center;
 	margin-top: 5px;
 }

 .archive-item-tag span {
 	margin: 0 5px;
   color: #2fcdb4
 }

 /*
 Image
  */

 .post-thumbnail-wrap {
 	text-align: center;
 	width: 100%;
 	height: 300px;
 	position: absolute;
 	bottom: 0;
 }

 .post-thumbnail-wrap img {
 	width: 100%;
   object-fit: cover;
   height: 100%;
 }

 @media screen and (max-width: 1070px) {
 	.post-thumbnail-wrap {
 		height: 250px;
 	}
 }

 @media screen and (max-width: 524px) {
 	.post-thumbnail-wrap {
 		height: 200px;
 	}
 }

 @media screen and (max-width: 380px) {
 	.post-thumbnail-wrap {
 		height: 150px;
 	}
 }

 /*
 else
  */
  .scrollFadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 2s;
  }

/*
single
 */
 /*
 Content
 */
 .post-content {
   background: #ffffff;
   margin-bottom: 10px;
   position: relative;
   box-shadow: 0px 0px 3px 3px;
 }

 .single-content-area {
   width: 650px;
   margin: 60px auto;
 }

 .content-wrap {
   position: relative;
   z-index: 9000;
 }

 .single-content {
   padding: 40px 0;
   font-size: 17px;
 }

 /* 投稿ページのclassはここに追加 */

 .single-content p {
   margin: 0 0 60px;
   line-height: 35px;
 }

 .single-content h2 {
   font-weight: bold;
   background: linear-gradient(transparent 70%, #2fcdb4 70%);
 }

 .single-content h3, h4 {
   font-weight: bold;
   position: relative;
   padding-left: 35px;/*アイコン分のスペース*/
   line-height: 1.4;
 }

 .single-content h3:before, h4:before {
   font-family: "FontAwesome";
   content: "\f00c";/*アイコンのユニコード*/
   position: absolute;/*絶対位置*/
   font-size: 1em;/*サイズ*/
   left: 0;/*アイコンの位置*/
   top: 0;/*アイコンの位置*/
   color: #2fcdb4; /*アイコン色*/
 }

 .single-content h3 {
   font-size: 21px;
 }
 .single-content h4 {
   font-size: 19px;
 }

 /* ここまで */

 @media screen and (max-width: 650px) {
   .single-content-area {
     width: 100%;
     padding: 0 20px;
   }
 }

 /*
 header
  */
 .single-title-wrap {
   text-align: center;
 }

 .single-title-wrap .posted-on {
   font-size: 16px;
   color: #aaaaaa;
 }

 .single-title {
   margin: 10px 0;
 }

 .cat-links-wrap {
   font-size: 18px;
 }

 .cat-links-wrap a {
   text-decoration: none;
 }

 @media screen and (max-width: 450px) {
   .single-title {
     font-size: 25px;
     font-weight: bold;
   }
 }

 /*
 関連記事
  */
 .related-post-wrap {
   margin: 0 auto;
 }

 .related-post-item-wrap {
   list-style: none;
   width: 300px;
   float: left;
   margin-bottom: 50px;
   box-shadow: 3px 3px 3px 1px;
   position: relative;
 }

 .related-post-item-wrap:nth-child(odd){
   margin-right: 25px;
 }

 .related-post-item-wrap:nth-child(even){
   margin-left: 25px;
 }

 .related-post-item-wrap:hover {
   opacity: 0.5;
   top: 3px;
 }

 .related-post-item-wrap a {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }

 .related-post-item-top {
   height: 20px;
   background: #2fcdb4
 }

 .related-post-img-wrapper {
   height: 150px;
 }

 .related-post-img-wrapper img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
 }

 .related-post-item-desc {
   padding: 10px;
   text-align: center;
 }

 .related-post-item-desc .posted{
   color: #aaaaaa;
 }

 .related-post-item-desc .title-wrap {
   height: 80px;
 }

 .related-post-item-desc .title-wrap .title{
   font-size: 17px;
   font-weight: bold;
 }

 .related-post-item-desc .tag{
   color: #2fcdb4
 }

 .related-post-title {
   text-align: center;
   padding-bottom: 10px;
   margin-bottom: 30px;
   font-weight: bold;
   background: linear-gradient(transparent 90%, #2fcdb4 70%);
 }

 .related-post-title span {
   font-size: 24px;
 }

 .related-post-content {
   margin: 0;
   padding: 0;
 }

 @media screen and (max-width: 650px) {
   .related-post-item-wrap {
     width: calc((100% - 30px)/2)
   }

   .related-post-item-wrap:nth-child(odd){
     margin-right: 15px;
   }

   .related-post-item-wrap:nth-child(even){
     margin-left: 15px;
   }
 }

 @media screen and (max-width: 428px) {
   .related-post-item-wrap {
     float: none;
     margin: 0 auto 50px;
     width: 100%;
   }

   .related-post-item-wrap:nth-child(odd){
     margin-right: 0px;
   }

   .related-post-item-wrap:nth-child(even){
     margin-left: 0px;
   }
 }
