@charset "utf-8";

/*
Content
*/
.post-content {
  background: #ffffff;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0px 0px 3px 3px;
  padding: 0 0 10px;
}

.single-content-area {
  width: 650px;
  margin: 60px auto;
}

.content-wrap {
  position: relative;
  z-index: 9000;
}

.single-content {
  padding: 40px 0;
  font-size: 17px;
}

.single-content h2 {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #2fcdb4 70%);
}

.single-content h3, h4 {
  font-weight: bold;
  position: relative;
  padding-left: 35px;/*アイコン分のスペース*/
  line-height: 1.4;
}

.single-content h3:before, h4:before {
  font-family: "FontAwesome";
  content: "\f00c";/*アイコンのユニコード*/
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #2fcdb4; /*アイコン色*/
}

.single-content h3 {
  font-size: 21px;
}
.single-content h4 {
  font-size: 19px;
}

@media screen and (max-width: 650px) {
  .single-content-area {
    width: 100%;
    padding: 0 20px;
  }
}

/*
header
 */
.single-title-wrap {
  text-align: center;
}

.single-title-wrap .posted-on {
  font-size: 16px;
  color: #aaaaaa;
}

.single-title {
  margin: 10px 0;
}

.cat-links-wrap {
  font-size: 18px;
}

.cat-links-wrap a {
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .single-title {
    font-size: 25px;
    font-weight: bold;
  }
}

/*
関連記事
 */
.related-post-wrap {
  margin: 0 auto;
}

.related-post-item-wrap {
  list-style: none;
  width: 300px;
  float: left;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px 1px;
  position: relative;
}

.related-post-item-wrap:nth-child(odd){
  margin-right: 25px;
}

.related-post-item-wrap:nth-child(even){
  margin-left: 25px;
}

.related-post-item-wrap:hover {
  opacity: 0.5;
  top: 3px;
}

.related-post-item-wrap a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.related-post-item-top {
  height: 20px;
  background: #2fcdb4
}

.related-post-img-wrapper {
  height: 150px;
}

.related-post-img-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.related-post-item-desc {
  padding: 10px;
  text-align: center;
}

.related-post-item-desc .posted{
  color: #aaaaaa;
}

.related-post-item-desc .title-wrap {
  height: 80px;
}

.related-post-item-desc .title-wrap .title{
  font-size: 17px;
  font-weight: bold;
}

.related-post-item-desc .tag{
  color: #2fcdb4
}

.related-post-title {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  background: linear-gradient(transparent 90%, #2fcdb4 70%);
}

.related-post-title span {
  font-size: 24px;
}

.related-post-content {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .related-post-item-wrap {
    width: calc((100% - 30px)/2)
  }

  .related-post-item-wrap:nth-child(odd){
    margin-right: 15px;
  }

  .related-post-item-wrap:nth-child(even){
    margin-left: 15px;
  }
}

@media screen and (max-width: 428px) {
  .related-post-item-wrap {
    float: none;
    margin: 0 auto 50px;
    width: 100%;
  }

  .related-post-item-wrap:nth-child(odd){
    margin-right: 0px;
  }

  .related-post-item-wrap:nth-child(even){
    margin-left: 0px;
  }

}
