@charset "utf-8";

 /*
 Content
  */
 .post-content {
   background: #ffffff;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0px 0px 3px 3px;
    padding: 0 0 50px;
 }

.single-content-area {
  width: 650px;
  margin: 60px auto;
}

.content-wrap {
  position: relative;
  z-index: 9000;
}

.single-content {
  padding: 80px 0;
  font-size: 14px;
}

@media screen and (min-width: 1140px) {
  .content-wrap{
    width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 792px) {
  .content-wrap{
    padding: 0;
  }
}

@media screen and (max-width: 790px) {
  .single-content-area {
   float: left;
   padding-top: 0;
   width: 100%;
   max-width: 100%;
   margin-left: 0px;
   padding-left: 0px;
  }
}

/*
header
 */
.single-title-wrap {
  text-align: center;
}

.single-title-wrap .posted-on {
  font-size: 16px;
}

.single-title {
  margin: 10px 0;
}

.cat-links-wrap {
  font-size: 18px;
}

.cat-links-wrap a {
  text-decoration: none;
}
