@charset "utf-8";

.widget-area {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 792px) {
  .widget-area {
  	width: 300px;
  }

  .widget-area {
    display: block;
    float: right;
  }
}

.site-info {
	text-align: center;
	font-size: 12px;
	font-size: 0.857em;
	letter-spacing: 1px;
	padding: 30px 0;
	background: #373735;
}

.site-info:hover {
	opacity: 0.5;
cursor: pointer;
}

.site-info a {
	letter-spacing: 0;
	text-transform: none;
	letter-spacing: 1px;
}
