@charset "utf-8";

/*
Sidebar
 */
.widget-title {
  color: #575756;
  font-size: 18px;
  margin: 20px 0 10px;
  line-height: 21px;
}

.widget-area {
  width: 100%;
  max-width: 100%;
}

.widget-area .sidebar-inner-wrap .widget {
  margin: auto;
  width: 300px;
  padding: 0;
}

@media screen and (min-width: 400px) {
  .widget-area .sidebar-inner-wrap .widget {
  	width: 80%;
  }
}

@media screen and (min-width: 792px) {
  .widget-area {
  	width: 300px;
  }

  .widget-area {
    display: block;
    float: right;
  }

  .sidebar-inner-wrap {
    height: auto !important;
  }
}

@media screen and (min-width: 992px) {
  .widget-area .sidebar-inner-wrap .widget {
  	padding: 0 25px 5px 30px;
  	margin: 0px;
  	margin-bottom: 5px;
  	width: 300px;
  }
}

/*
### 団体紹介
 */
.sidebar-log-wrap {
  text-align: center;
}

.sidebar-log-wrap p {
  margin: 0;
}

.sidebar-logo-text {
  text-align: center;
}

@media screen and (min-width: 792px) {
  .sidebar-logo-text {
    text-align: left;
  }
}
